config INPUT_LIS2DW12
	tristate "STMicroelectronics LIS2DW12 sensors"
	depends on (I2C || SPI) && SYSFS
	select INPUT_LIS2DW12_I2C if (I2C)
	select INPUT_LIS2DW12_SPI if (SPI)
	help
	   This driver support the STMicroelectronics LIS2DW12 sensors.

	   To compile this driver as a module, choose M here. The module
	   will be called lis2dw12.

config INPUT_LIS2DW12_I2C
	tristate
	depends on INPUT_LIS2DW12
	depends on I2C

config INPUT_LIS2DW12_SPI
	tristate
	depends on INPUT_LIS2DW12
	depends on SPI
