config INPUT_AIS328DQ
	tristate "STMicroelectronics AIS328DQ sensor"
	depends on (I2C || SPI) && SYSFS
	select INPUT_AIS328DQ_I2C if (I2C)
	select INPUT_AIS328DQ_SPI if (SPI)
	help
	   This driver support the STMicroelectronics AIS328DQ sensor.

	   To compile this driver as a module, choose M here. The module
	   will be called ais328dq.

config INPUT_AIS328DQ_I2C
	tristate
	depends on INPUT_AIS328DQ
	depends on I2C

config INPUT_AIS328DQ_SPI
	tristate
	depends on INPUT_AIS328DQ
	depends on SPI
