config INPUT_L3G4200D
	tristate "STMicroelectronics L3G4200D sensor"
	depends on (I2C || SPI) && SYSFS
	select INPUT_L3G4200D_I2C if (I2C)
	select INPUT_L3G4200D_SPI if (SPI)
	select INPUT_POLLDEV
	help
	   This driver support the STMicroelectronics L3G4200D sensor.

	   To compile this driver as a module, choose M here. The module
	   will be called l3g4200d.

config INPUT_L3G4200D_I2C
	tristate
	depends on INPUT_L3G4200D
	depends on I2C

config INPUT_L3G4200D_SPI
	tristate
	depends on INPUT_L3G4200D
	depends on SPI
