
menuconfig INPUT_ECOMPASS
	tristate "eCompass"

if INPUT_ECOMPASS

source "drivers/input/misc/st/ecompass/lsm303agr/Kconfig"
source "drivers/input/misc/st/ecompass/lsm303ah/Kconfig"
source "drivers/input/misc/st/ecompass/lsm303c/Kconfig"
source "drivers/input/misc/st/ecompass/lsm303d/Kconfig"
source "drivers/input/misc/st/ecompass/lsm303dlhc/Kconfig"

endif # INPUT_ECOMPASS
