
menuconfig INPUT_MAGN
	tristate "magnetometer"

if INPUT_MAGN

source "drivers/input/misc/st/magnetometer/lis3mdl/Kconfig"
source "drivers/input/misc/st/magnetometer/lis2mdl/Kconfig"

endif # INPUT_MAGN
