
menuconfig INPUT_TEMPERATURE
	tristate "Temperature"

if INPUT_TEMPERATURE

source "drivers/input/misc/st/temperature/stts751/Kconfig"
source "drivers/input/misc/st/temperature/stts22h/Kconfig"

endif # INPUT_TEMPERATURE
