config INPUT_LIS2DE
	tristate "STMicroelectronics LIS2DE/LIS2DE12 sensor"
	depends on (I2C || SPI) && SYSFS
	select INPUT_LIS2DE_I2C if (I2C)
	select INPUT_LIS2DE_SPI if (SPI)
	help
	   This driver support the STMicroelectronics LIS2DE/LIS2DE12 sensor.

	   To compile this driver as a module, choose M here. The module
	   will be called lis2de.

config INPUT_LIS2DE_I2C
	tristate
	depends on INPUT_LIS2DE
	depends on I2C

config INPUT_LIS2DE_SPI
	tristate
	depends on INPUT_LIS2DE
	depends on SPI
